<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../pictures/logoSH.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/main.css">
    <title>Index</title>
</head>

<body>
    <header>

        <img id="logoheader" src="../pictures/logoSH.png" alt="Logo Senior Healthcare">
        <h1> Reinitialiser son mot de passe </h1>
        <div class="block_center"> </div>

    </header>
    <p class="paragraphe"> Un mot de passe temporaire va être envoyé à votre adresse mail.
        Connectez vous avec celui-ci et suivez les étapes pour réinitialiser votre mot de passe.</p>


    <div class=""> <a class="bouton_classique" href="test.html"> Bouton </a> </div>

    <div class=""> <a class="barre_patients" href="test.html">
            <div class="numéro"> n°8 </div>
            <div class="prénom"> Inès </div>
            <div class="nom"> Delaroche </div>
            <div class="age"> 98 ans</div>
            <div class="indicateur"> </div>


        </a></div>

    <form method="post" action="">
        <div><label class="titre_champ" for="Adresse_email">Adresse email :<br> <input class="champ" type="text"
                    name="Adresse_email" autofocus id="Adresse_email" placeholder="Adresse email"></label></div>
        <div><label class="titre_champ" for="mdp">Mot de passe : <br> <input class="champ" type="password"
                    name="password" id="mdp" placeholder="Mot de passe"></label></div>

        <div> <input type="submit" value="Envoyer"> </div>
    </form>


    <footer>
        <div class="information">
            <nav class="nav_footer"> <a href=""> Mentions légales </a> </nav>
        </div>

        <div class="information">
            <nav class="nav_footer"> <a href=""> Site de l'EPHAD</a> </nav>
        </div>

        <div class="information">
            <nav class="nav_footer"> Par Senior Healthcare pour Infinite Measures :
                <ul class="liste_nav">
                    <li><a href=""> Contacter le gestionnaire</a> </li>
                    <li><a href=""> Contacter l'administrateur</a> </li>
                </ul>

            </nav>
        </div>


    </footer>



</body>

</html>