Header {


    flex-direction: column;

}

#logoheader {
    width: 300px;
    height: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}


.formulaire {
    position: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.champ {
    height: 30px;
    width: 50%;
    font-size: 25px;
}

.titre_champ {
    font-size: 25px;
    font-style: bold;
}

.bouton_submit {
    font-size: 25px;
    height: 50px;
    background-color: #4C79A7;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    border-radius: 10px;
    margin-bottom: 75px;

}



.bouton_submit:hover {
    background-color: white;
    border: solid #4C79A7 3px;
    color: #4C79A7;
    font-style: bold;

}

.div_faq {


    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    margin-bottom: 30px;
    word-wrap: break-word;
    background-color: #4C79A7;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;

}


.div_faq>.bouton_classique{
    text-decoration: none;
    color: black;

}

.div_faq:hover {
    background-color: #4f87c2;
}



/* Checkbox */
#label_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;

    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
#label_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#label_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#label_checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#label_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#label_checkbox{
    font-size: 15px;
}

.formulaire_check{
    position: center;
    margin-left: 28%;
    margin-right: 22%;
    width: 50%;
}


@media (max-width: 850px) {
    .container {
        flex-direction: column;
        align-items: center;
    }


    .ajoutUser, .ajoutQuestion {

        width: 90%;
        margin: 5%  5% 10%;
    }

    .champ{
        width: 85%;
    }

}